.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;

    text-align: left;
}

.styled-table thead tr {
    background-color: #009879;

    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
.fon{
    top: 40px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}